@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:ital,wght@0,500;0,700;1,400&display=swap');
:root{
/*    ## Colors
### Primary */
--Light-red: hsl(356, 100%, 66%); /*(CTA text)*/
--Very-light-red : hsl(355, 100%, 74%) /*(CTA hover background)*/
--Very-dark-blue : hsl(208, 49%, 24%) /*(headings)*/

/* ### Neutral */
--White : hsl(0, 0%, 100%);/*(text)*/
--Grayish-blue : hsl(240, 2%, 79%);/*(footer text)*/
--Very-dark-grayish-blue : hsl(207, 13%, 34%);/*(body copy)*/
--Very-dark-black-blue: hsl(240, 10%, 16%);/*(footer background)*/

/* ### Gradient */
/* Background gradient - Intro/CTA mobile nav: */
--Very-light-red: hsl(13, 100%, 72%);
--Light-red: hsl(353, 100%, 62%);

/* Background gradient - body: */
--Very-dark-gray-blue: hsl(237, 17%, 21%);
--Very-dark-desaturated-blue: hsl(237, 23%, 32%);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "ubuntu", sans-serif;
    font-size: 16px;
}
.features-page{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(700px,1fr));
    text-align: center;
    line-height: 1.4;




}
.footer{
    background-color: var(--Very-dark-black-blue);
    border-radius: 0 50px 0 0;
    color:white;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    line-height: 1.4;
}
.footer div, .footer h3{
    margin-bottom: 1.25rem;
}
.footer a{
    color:var(--Grayish-blue);
    text-decoration: none;
}
.footer ul{
    list-style: none;
}